body {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/bg.jpg);
}

article {
    font-size: 2vw;
}

@media only screen and (max-width: 50vw) {
    article {
        font-size: 1.5vw;
    }
}

@media only screen and (max-height: 30vh) {
    article {
        font-size: 1vw;
    }
}


p, h1, h2, h3, h4, h5, h6, li, span, div, input, textarea, select, button {
    color: #fff;
}